<div ngbDropdown class="flatwith space" autoClose="outside">
  <button class="btn btn-outline-primary form-control" id="dropdownBasic1" ngbDropdownToggle>
    <span *ngIf="fromDate != null; then fromDateBlock ; else checkInBlock"></span>
    <ng-template #fromDateBlock>{{ fromDate?.day }}/{{ fromDate?.month }}/{{ fromDate?.year }}</ng-template>
    <ng-template #checkInBlock>Check In</ng-template>
    <span *ngIf="toDate != null; then toDateBlock ; else checkOutBlock"></span>
    <ng-template #toDateBlock> - {{ toDate?.day }}/{{ toDate?.month }}/{{ toDate?.year }}</ng-template>
    <ng-template #checkOutBlock> - Check Out</ng-template>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>
    <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
  </div>
</div>