<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item rounded-0">
                <i class="fa fa-users"></i> Rehber Yönet
            </a>
            <a href="#" class="list-group-item rounded-0">
                <i class="fa fa-user"></i> Üye Yönet
            </a>
            <a href="#" class="list-group-item rounded-0">
                <i class="fa fa-cog"></i> Ayarlar <span class="badge">!</span>
            </a>
        </div>
    </div>
</div>