<section class="search-banner text-white py-3" id="search-banner">
  <div class="row justify-content-left">
    <div class="container py-8 my-8">
      <label>Search Results</label>
      <div class="sub-form">
        <app-country-input></app-country-input>
      </div>
      <div class="sub-form">
        <app-date-picker></app-date-picker>
      </div>
    </div>
  </div>
</section>