<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <legend class="text-center">Register</legend>
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col col-lg-6">
                            <label for="rtypes" class="">Register As : </label>

<!--                             <div class="form-check">
                                <input [(ngModel)]="guideRegister" (click)="onChange()" type="radio" name="Register"
                                    id="" value="option1" checked>
                                <label for="radiobutton1">A Guide
                                </label>
                            </div>

                            <div class="form-check">
                                <input [(ngModel)]="userRegister" type="radio" (click)="onChange()" name="Register"
                                    id="radiobutton2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">A Tourist
                                </label>
                            </div> -->

                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" name="" id="name" placeholder="First Name" 
                        aria-label="Register" aria-describedby="try" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-tooltip">
                            <div *ngIf="f.name.errors.required">Guiders Name is required</div>
                            <div *ngIf="f.name.errors">Guiders Name must be Valid</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" name="last_name" id="l_name" placeholder="Last Name"
                        aria-label="Register" aria-describedby="try" formControlName="l_name"
                        [ngClass]="{ 'is-invalid': submitted && f.l_name.errors }">
                        <div *ngIf="submitted && f.l_name.errors" class="invalid-tooltip">
                            <div *ngIf="f.l_name.errors.required">Guiders Name is required</div>
                            <div *ngIf="f.l_name.errors">Guiders Name must be Valid</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                        aria-label="Register" aria-describedby="try" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-tooltip">
                            <div *ngIf="f.email.errors.required">Guiders Email is required</div>
                            <div *ngIf="f.email.errors">Guiders Email must be Valid</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="" id="password" placeholder="Password"
                        aria-label="Register" aria-describedby="try" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-tooltip">
                            <div *ngIf="f.password.errors.required">Guiders password is required</div>
                            <div *ngIf="f.password.errors">Guiders password must be Valid</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="PhoneNum1">Phone Number 1 *</label>
                        <input type="text" class="form-control" name="phone_first" id="phone_first" placeholder="Phone Number"
                        aria-label="Register" aria-describedby="try" formControlName="phone_first"
                        [ngClass]="{ 'is-invalid': submitted && f.phone_first.errors }">
                        <div *ngIf="submitted && f.phone_first.errors" class="invalid-tooltip">
                            <div *ngIf="f.phone_first.errors.required">Guiders Phonenum is required</div>
                            <div *ngIf="f.phone_first.errors">Guiders Phonenum must be Valid</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="PhoneNum2">Phone Number 2</label>
                        <input type="text" class="form-control" name="phone_number2" id="" placeholder="Phone Number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TcNo">Tc Kimlik No/Pasaport</label>
                        <input type="text" class="form-control" name="tcNo" id="" placeholder="Tc No/Pasaport">
                    </div>
                    <div class="form-group col-md-6" *ngIf="show_dialog">
                        <label for="languages">Languages (Bildiği Diller)</label>
                        <input type="text" class="form-control" name="" id="languages">
                    </div>
                </fieldset>
                <div *ngIf="show_dialog">
                    <div class="form-group col-md-6">
                        <label for="districts">Districts where can provide guidance service</label>
                        <input type="text" class="form-control" name="districts">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Scope where can provide guidance service</label>
                        <input type="text" class="form-control" name="scope" id="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gender">Gender</label>
                        <input type="text" class="form-control" name="" id="gender">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="profile">Profile(CV)</label>
                        <input type="text" class="form-control" name="profile" id="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="picture">Picture</label>
                        <input type="text" class="form-control" name="picture" id="">
                    </div>
                    <div class="form-group col-md-6">
                        <label> Do you have a driving licence?
                            <input class="checkbox" type="checkbox" value="" id="">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="">
                                I accept the <a href="#">terms and conditions</a>.
                            </label>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-9">
                              <div class="card carder">
                                <div class="card-body col-sm-12">
                                  <button type="submit" class="btn btn-primary btn-block" [disabled]="buttonDisabled">Approve Register</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>