<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>About Us</h3>
        <p>Travel made easy.</p>
        <p>Made for travelers with <i class="fas fa-heart"></i></p>
      </div>
      <div class="col-md-2 list">
        <ul>
          <h6>Support</h6>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="http://www.merchantequip.com/information-center/credit-card-logos/" target="_blank"><img
                src="https://www.merchantequip.com/image/?logos=v|m&height=32"
                alt="Merchant Equipment Store Credit Card Logos" /></a></li>
        </ul>

      </div>
      <div class="col-md-2 list">
        <ul>
          <h6>Company</h6>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Press</a></li>


        </ul>

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md">
        <h5><strong>Contact Info</strong></h5>
        <p><strong>Adress:</strong> Soğuksu Mahallesi, Toroslar Caddesi, No:54, Kat:1, No:1, Muratpaşa -Antalya
        </p>
        <p><strong>Email:</strong> info@rentaguideturkey.com</p>
        <p><strong>Tel:</strong> 0090 242 238 444 1</p>
        <p><strong>Fax:</strong> 0090 242 238 444 2</p>
      </div>
    </div>
  </div>
</footer>