<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <div class="container">
    <a class="navbar-brand" href="#">rentaguideturkey.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{this.translate.data["HOME"] | translate}} <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item dropdown">
        <app-site-language></app-site-language>
      </li>
      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link active"
          href="/#login">{{this.translate.data["LOGIN"] | translate}}</a>
        <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link active"
          href="/#register">{{this.translate.data["REGISTER"] | translate}}</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link active"
          href="/#user-account">{{this.translate.data["MYACCOUNT"] | translate}}</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link active"
          (click)="loginService.logOut()">{{this.translate.data["LOGOUT"] | translate}}</a>
      </li>
    </ul>
  </div>
</nav>