<div class="space">
  <div class="main-form">
    <label style="font-weight: bold">Language</label>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let language of languageList; let i = index;">
          <label><input id={{language.id}} type="checkbox" [(ngModel)]="language.checked" name="{{language.name}}" value="{{language.name}}" (change)="onLanguageChange()">&nbsp;{{language.name}}</label> 
        </li>
      </ul>
    </div>
  </div>
</div>