<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <app-discount-alarm></app-discount-alarm>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="container py-5 my-5">
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <h1 class="text-white">Rent a Guide.</h1>
            <h2 class="text-white">Find a Guide you need...</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <div class="card acik-renk-form">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-4">
                      <app-country-input></app-country-input>
                    </div>
                    <div class="col-xl-4">
                      <app-date-picker></app-date-picker>
                    </div>
                    <div class="col-xl-4 space">
                      <button type="button" class="btn btn-warning  pl-5 pr-5 form-control"
                        (click)="navigate();">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>