<div class="bar-box">
  <app-result-list></app-result-list> <hr>
  <app-gender></app-gender> <hr>
  <app-language></app-language> <hr>
  <app-guide-driver-picker></app-guide-driver-picker> <hr>
  <div>
    <button type="button" class="btn btn-warning btn-block" (click)="search();">{{this.translate.data["SEARCH"] | translate}}</button>
  </div>
</div>