<a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">
  Language <i class="fa fa-globe"> </i><span class="caret"></span>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('tr')">
    <i class="fa fa-flag-o mr-2"></i>
    Türkçe (tr)</a>
  <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('en')">
    <i class="fa fa-flag-o mr-2"></i>
    English (en)</a>
  <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('fa')">
    <i class="fa fa-flag-o mr-2"></i>
    Persian (fa)</a>
  <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('ja')">
    <i class="fa fa-flag-o mr-2"></i>
    Japanese (ja)</a>
</div>