<div class="row" class="accountSidebar">
    <div class="sidebar">
        <div class="list-group">
            <a href="/#user-account/profile" class="list-group-item rounded-0">
                <i class="fa fa-users"></i> Profil Yönet
            </a>
            <a href="/#user-account/reservation" class="list-group-item rounded-0">
                <i class="fa fa-user"></i> Rezervasyon Yönet
            </a>
        </div>
    </div>
</div>