<div class="container">
	<div class="row">
		<div class="col-sm-5 col-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Login via site</h3>
				</div>
				<div class="panel-body">
					<form accept-charset="UTF-8" role="form">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="yourmail@example.com" name="email" type="text"
									[(ngModel)]="mail">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" type="password"
									[(ngModel)]="password">
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me"> Remember Me
								</label>
							</div>
							<input class="btn btn-lg btn-success dene btn-block " type="submit" value="Login"
								(click)="checkLogin()">
						</fieldset>
					</form>
					<hr />
					<h4>OR</h4>
					<input class="btn btn-lg btn-block" type="submit" value="Login via facebook">
				</div>
			</div>
		</div>
	</div>
</div>