<div class="reservationTable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Reservation Id</th>
        <th scope="col">Guide</th>
        <th scope="col">Place</th>
        <th scope="col">Reservation Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Notes</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations | sort:'-id'">
        <td>{{reservation.id}}</td>
        <td>{{reservation.guide.name}} &nbsp; {{reservation.guide.name}}</td>
        <td>{{reservation.place.country}}, {{reservation.place.province}}, {{reservation.place.district}}</td>
        <td>{{reservation.reservationStartDate | dateFormat}} - {{reservation.reservationEndDate | dateFormat}}</td>
        <td>{{reservation.totalPrice}}</td>
        <td>{{reservation.reservationStatus}}</td>
        <td><span id="">{{reservation.notes}}</span></td>
        <td>
          <button type="button" class="btn btn-danger" (click)="cancelReservation(reservation)">İptal</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>