<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <app-user-account-sidebar></app-user-account-sidebar>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>