<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully make reservation.</p>
  <hr>
  <p class="mb-0">You will be get reservation information as Mail.</p>
</div>
