/*#DT_28:before, #DT_31:before, #DT_34:before*/
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app {
  min-height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}

.space {
  padding: .375rem .75rem;
  margin: 0;
  align-content: center;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;

  &:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

footer {
  background-color: #003580;
  padding: 25px;
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: white;
}

ul {
  list-style-type: none;
  color: white;
}

li {
  list-style-type: none;
  color: white;
}

.list {
  margin-top: 15px;
  color: white;
}

.main-form {
  width: 100%;
  height: auto;
  padding: 0.300rem 0.550rem;
}

label {
  color: black;
  font-weight: bold;
  margin-left: 0.500rem;
}

.sub-form {
  width: 100%;
  height: auto;
}

.check {
  vertical-align: middle;
  margin-left: 0.500rem;
  margin-right: 0.200rem;
}

.form-arka-plan {
  background-image: url("https://images.pexels.com/photos/841286/pexels-photo-841286.jpeg?cs=srgb&dl=close-up-compass-direction-841286.jpg&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.acik-renk-form {
  background: rgba(255, 255, 255, 0.95);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bar-box {
  height: auto;
  border: 1px solid #e1e7ed;
  border-radius: .25rem;
  width: 100%;
}

.col-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.panel-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.bg-blue {
  background-color: #003580;
}

.navbar-light {
  .nav-link {
    color: white;
  }

  .navbar-brand {
    color: white;
  }
}

.nav-item {
  .nav-link {
    float: right;
  }
}

form {
  * {
    border-radius: 0 !important;
  }

  >fieldset {
    >legend {
      font-size: 120%;
    }
  }
}

.checkbox {
  margin-top: 0.100rem;
}

.carder {
  border: 1px solid #cce1ff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.card-header {
  background-color: #e9f0fa;
  border-bottom: 2px solid #5ea4f3;
}

.py-5 {
  padding-top: 0rem !important;
}

.card-body-rem {
  padding: 0 rem;
}

.payment-form {
  font-family: 'Montserrat', sans-serif;

  .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
  }

  .block-heading {
    h1 {
      margin-bottom: 1.2rem;
      color: #3b99e0;
    }

    h2 {
      margin-bottom: 1.2rem;
      color: #3b99e0;
    }

    h3 {
      margin-bottom: 1.2rem;
      color: #3b99e0;
    }
  }

  form {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
    padding: 0;
    margin: auto;
  }

  .title {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
  }

  .products {
    background-color: #f7fbff;
    padding: 25px;

    .item {
      margin-bottom: 1em;

      p {
        margin-bottom: 0.2em;
      }
    }

    .item-name {
      font-weight: 600;
      font-size: 0.9em;
    }

    .item-description {
      font-size: 0.8em;
      opacity: 0.6;
    }

    .price {
      float: right;
      font-weight: 600;
      font-size: 0.9em;
    }

    .total {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      padding-top: 19px;
      font-weight: 600;
      line-height: 1;
    }
  }

  .card-details {
    padding: 25px 25px 15px;

    label {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #79818a;
      text-transform: uppercase;
    }

    button {
      margin-top: 0.6em;
      padding: 12px 0;
      font-weight: 600;
    }
  }

  .date-separator {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.media {
  position: relative;
  margin-bottom: 15px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-product {
  .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      display: inline-block;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

h4 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.5rem;
}

[class*="dlist-"] {
  margin-bottom: 5px;
}

dt {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  overflow-wrap: break-word;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  column-rule-color: rgb(33, 37, 41);
  caret-color: rgb(33, 37, 41);
  border: 0px none rgb(33, 37, 41);
  font: normal normal 700 normal 15px / 22.5px "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  outline: rgb(33, 37, 41) none 0px;
}

dl {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  height: 22px;
  overflow-wrap: break-word;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  width: 545.25px;
  column-rule-color: rgb(33, 37, 41);
  perspective-origin: 272.625px 11px;
  transform-origin: 272.625px 11px;
  caret-color: rgb(33, 37, 41);
  border: 0px none rgb(33, 37, 41);
  font: normal normal 400 normal 15px / 22.5px "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px 0px 5px;
  outline: rgb(33, 37, 41) none 0px;
}

dd {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  height: 22px;
  overflow-wrap: break-word;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  width: 425.25px;
  column-rule-color: rgb(33, 37, 41);
  perspective-origin: 212.625px 11px;
  transform-origin: 212.625px 11px;
  caret-color: rgb(33, 37, 41);
  border: 0px none rgb(33, 37, 41);
  font: normal normal 400 normal 15px / 22.5px "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px 0px 0px 120px;
  outline: rgb(33, 37, 41) none 0px;
}

.dlist-align {
  dt {
    width: 120px;
    float: left;
    word-wrap: break-word;
  }
}

a {
  &:link {
    color: #07c;
    font-weight: bold;
    text-decoration: none;
  }
}

.accountSidebar {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .payment-form {
    .title {
      font-size: 1.2em;
    }

    .products {
      padding: 40px;

      .item-name {
        font-size: 1em;
      }

      .price {
        font-size: 1em;
      }
    }

    .card-details {
      padding: 40px 40px 30px;

      button {
        margin-top: 2em;
      }
    }
  }
}


.reservationTable {
  margin: 10px;
  font-size: small;
}


.user-profile {
    
  float: left;
  display: inline-block;
  width: 300px;
  margin: 10px;
  color: #FFF;

}