<div class="container">
  <div class="row justify-content-center">
    <div class="container py-5 my-5">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <div class="card carder">
              <h5 class="card-header">Guide</h5>
              <div class="card-body">
                <div class="card-body">
                  <div class="row">
                    <aside class="col-sm-3">
                      <div class="img-wrap"><img src="{{guide?.picture}}"></div>
                    </aside>
                    <article class="col-sm-6">
                      <h4 class="title">{{guide?.name}} {{guide?.surname}}</h4>
                      <p>{{guide?.profile}}</p>
                      <dl class="dlist-align">
                        <dt>Gender</dt>
                        <dd>
                          <div *ngIf="guide?.gender == '1'; then thenGenderBlock else elseGenderBlock"></div>
                          <ng-template #thenGenderBlock><span> {{guide?.gender === '1' ? 'Erkek ' : 'Kadın '}} <i
                                class="fas fa-mars"></i></span>
                          </ng-template>
                          <ng-template #elseGenderBlock><span> {{guide?.gender === '1' ? 'Erkek ' : 'Kadın '}} <i
                                class="fas fa-venus"></i></span>
                          </ng-template>
                        </dd>
                      </dl>
                      <dl class="dlist-align">
                        <dt>Place</dt>
                        <dd>
                          <span> {{indexSearch?.place?.country}}, {{indexSearch?.place?.province}},
                            {{indexSearch?.place?.district}} </span>
                        </dd>
                      </dl>
                      <dl class="dlist-align">
                        <dt>Driver Licence</dt>
                        <dd> {{guide?.driverLicence === '1' ? 'Var' : 'Yok'}} </dd>
                      </dl>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <div class="card carder">
              <h5 class="card-header">Rezervation Info</h5>
              <div class="card-body">
                <h5 class="card-title"><b>Check In:</b></h5>
                <p class="card-text">{{checkin}}</p>
                <h5 class="card-title"><b>Check Out:</b></h5>
                <p class="card-text">{{checkout}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <div class="card carder">
              <h5 class="card-header">Notes</h5>
              <div class="card-body">
                <textarea [(ngModel)]="userNote" [ngModelOptions]="{standalone: true}" class="form-control" rows="5"
                  id="userNote"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <div class="card carder">
              <h5 class="card-header">Price Summary</h5>
              <div class="card-body-rem">
                <section class="payment-form dark">
                  <div class="products">
                    <h3 class="title">Checkout</h3>
                    <div class="item">
                      <span class="price">{{guidePrice?.guidingPrice}} {{guidePrice?.currency}}</span>
                      <p class="item-name">Guide</p>
                      <p class="item-description">Guide X {{diffDate}} Day</p>
                    </div>
                    <div *ngIf="guide?.driverLicence === '1' then thenLicenceBlock else elseLicenceBlock"></div>
                    <ng-template #thenLicenceBlock>
                      <div class="item">
                        <span class="price">{{guidePrice?.drivingPrice}} {{guidePrice?.currency}}</span>
                        <p class="item-name">Driving Price</p>
                        <p class="item-description">Driving Price X {{diffDate}}</p>
                      </div>
                    </ng-template>
                    <ng-template #elseLicenceBlock></ng-template>
                    <div class="total">Total<span
                        class="price">{{guide?.driverLicence === '1' ? guidePrice?.guidingPrice + guidePrice?.drivingPrice : guidePrice?.guidingPrice}}
                        {{guidePrice?.currency}}</span></div>
                  </div>
                  <div class="card-details">
                    <h3 class="title">Credit Card Details</h3>
                    <div class="row">
                      <div class="form-group col-sm-7">
                        <label for="card-holder">Card Holder</label>
                        <input id="card-holder" type="text" class="form-control" placeholder="Name Surname"
                          aria-label="Card Holder" aria-describedby="basic-addon1" formControlName="holder"
                          [ngClass]="{ 'is-invalid': submitted && f.holder.errors }">
                        <div *ngIf="submitted && f.holder.errors" class="invalid-tooltip">
                          <div *ngIf="f.holder.errors.required">Holder Name is required</div>
                          <div *ngIf="f.holder.errors">Holder Name must be Valid</div>
                        </div>
                      </div>
                      <div class="form-group col-sm-5">
                        <label for="">Expiration Date</label>
                        <div class="input-group expiration-date">
                          <input type="text" class="form-control" placeholder="MM" aria-label="MM"
                            aria-describedby="basic-addon1" formControlName="month"
                            [ngClass]="{ 'is-invalid': submitted && f.month.errors }">
                          <span class="date-separator">/</span>
                          <input type="text" class="form-control" placeholder="YY" aria-label="YY"
                            aria-describedby="basic-addon1" formControlName="year"
                            [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                          <div *ngIf="submitted && (f.year.errors || f.month.errors)" class="invalid-tooltip">
                            <div *ngIf="f.year.errors?.required">Year is required as YY</div>
                            <div *ngIf="f.year.errors?.minlength">Year must be 2 characters</div>
                            <div *ngIf="f.year.errors?.maxlength">Year must be 2 characters</div>
                            <div *ngIf="f.month.errors?.required">Month is required as MM</div>
                            <div *ngIf="f.month.errors?.minlength">Month must be 2 characters</div>
                            <div *ngIf="f.month.errors?.maxlength">Month must be 2 characters</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-8">
                        <label for="card-number">Card Number</label>
                        <input id="card-number" type="text" class="form-control" placeholder="Card Number"
                          aria-label="Card Holder" aria-describedby="basic-addon1" formControlName="ccn"
                          [ngClass]="{ 'is-invalid': submitted && f.ccn.errors }">
                        <div *ngIf="submitted && f.ccn.errors" class="invalid-tooltip">
                          <div *ngIf="f.ccn.errors.required">Credit Card number is required</div>
                          <div *ngIf="f.ccn.errors.minlength">Credit Card number must be 16 characters</div>
                          <div *ngIf="f.ccn.errors.maxlength">Credit Card number must be 16 characters</div>
                        </div>
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="cvc">CVC</label>
                        <input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder"
                          aria-describedby="basic-addon1" formControlName="cvc"
                          [ngClass]="{ 'is-invalid': submitted && f.cvc.errors }">
                        <div *ngIf="submitted && f.cvc.errors" class="invalid-tooltip">
                          <div *ngIf="f.cvc.errors.required">CVC number is required</div>
                          <div *ngIf="f.cvc.errors.minlength">CVC number must be 3 characters</div>
                          <div *ngIf="f.cvc.errors.maxlength">CVC number must be 3 characters</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-9">
            <div class="card carder">
              <div class="card-body col-sm-12">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" [checked]="contract" (change)="toggleVisibility($event)"> Satış
                        sözleşmesini kabul ediyorum.
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="buttonDisabled">Approve
                      Reservation</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>