<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let guideData of guides | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
          class="media">
          <article class="card card-product">
            <div class="card-body">
              <div class="row">
                <aside class="col-sm-3">
                  <div class="img-wrap"><img src="{{guideData.guide.picture}}"></div>
                </aside>
                <article class="col-sm-6">
                  <h4 class="title">{{guideData.guide.name}} {{guideData.guide.surname}}</h4>
                  <p>{{guideData.guide.profile}}</p>
                  <dl class="dlist-align">
                    <dt>Gender</dt>
                    <dd>
                      <div *ngIf="guideData.guide.gender == 'Erkek'; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock><span> {{guideData.guide.gender === '1' ? 'Erkek ' : 'Kadın '}} <i
                            class="fas fa-mars"></i></span></ng-template>
                      <ng-template #elseBlock><span> {{guideData.guide.gender === '1' ? 'Erkek ' : 'Kadın '}} <i
                            class="fas fa-venus"></i></span></ng-template>
                    </dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Language</dt>
                    <dd>
                      <div>
                        <span *ngFor="let language of guideData.language ; let isLast=last">
                          {{language.name}}{{isLast ? '' : ', '}} </span>
                      </div>
                    </dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt>Driver Licence</dt>
                    <dd> {{guideData.guide.driverLicence === '1' ? 'Var' : 'Yok'}} </dd>
                  </dl>
                </article>
                <aside class="col-sm-3 border-left">
                  <div class="action-wrap">
                    <div class="price-wrap h4">
                      <span class="price">
                        {{guideData.guidePrice.guidingPrice}} {{guideData.guidePrice.currency}}
                      </span>
                    </div>
                    <br>
                    <p>
                      <a class="btn btn-primary" (click)="navigate(guideData.guide.id);"> Rent </a>
                    </p>
                  </div>
                </aside>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="guides.length">
      </ngb-pagination>
    </div>
  </div>
</div>