<div class="space">
  <div class="main-form">
    <label style="font-weight: bold">Gender</label>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of itemsList">
          <input id={{item}} type="radio" [(ngModel)]="genderSelected" name="item" value="{{item}}"
            (change)="onItemChange(item)">
          <label for={{item}}>&nbsp;{{item}}</label>
        </li>
      </ul>
    </div>
  </div>
</div>