<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3">
                                <app-left-filterbar></app-left-filterbar>
                            </div>
                            <div class="col-xl-9">
                                <app-right-filter-results></app-right-filter-results>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>